

.chartcanvas {
  min-height: 300px;
  width: auto;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.PlanetExpress {
  width: 50%;
}

.PlanetExpress.fleetheader {
  visibility: hidden;
  display: none;
  width: 0px;
  height: 0px;
}
.PlanetExpress.fleet {
  display: none;
}

.LogisticAG {
  width: 16%;
}
